

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #141E30, #243B55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    color: white;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.8;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: #141313;
    font-size: 15px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.fare-box {
    background: #00000040;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #ffb400;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;   /* NEW */
    display: block;     /* NEW */
    text-align: center; /* NEW */
}


.btn:hover {
    background: #ff9f00;
}
